<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's have some conversation...</title>
</head>
<body>
    <h1>If one of you stops talking, the conversation will end "magically".</h1>
</body>
</html>
