<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time to pick</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="card card-bordered">
                <div class="card-header">
                    <h3>
                        Blob Chat Demo<br /><br />
                        We have found some matches for you based on the content of your post.<br /><br />
                        Step 2: Select another user's post to enter the chat room.<br />
                    </h3>
                </div>

                <% posts.forEach(post => { %>
                    <div class="card card-bordered">
                        <div class="media media-chat">
                            <div class="post-header">
                                <h3>
                                    <img src="icon.svg" class="icon-small">
                                       <%= post.username %>
                                </h3>
                                <p><%= post.content %></p>
                                <a href="chat?username=<%= post.username %>" class="publisher-btn text-info"><i class="fa fa-heart"></i> Connect</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
</script>
</html>
