<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time to pick</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3 class="mb-4">Here are some similar-minded people we found for you. Click one to chat.</h3>
    <% posts.forEach(post => { %>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"><%= post.username %></h4>
                <div class="card-text mb-2"><%= post.content %></div>
                <a href="chat?username=<%= post.username %>" class="btn btn-primary">Connect</a>
            </div>
        </div>
    <% }) %>
</div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
  console.log(<%= posts %>);
</script>
</html>
